{% load static %}

<nav class="w-full bg-white border-b border-gray-200 sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center space-x-3">
                    <img src="{% static 'images/AlcherLogo.png' %}" class="h-12 w-auto" style="filter: invert(1);" alt="Alcheringa Logo">
                    <div class="flex flex-col items-end leading-none">
                        <p class="text-[10px] font-medium text-black-400 uppercase tracking-wide mb-1">IIT GUWAHATI</p>
                        <p class="text-xl font-bold uppercase">Alcheringa</p>
                        <p class="text-[10px] font-medium text-black-400 tracking-widest">2026</p>
                    </div>
                </div>
      <a href="/register" class="bg-black text-white px-6 py-3 text-[10px] font-semibold uppercase hover:bg-gray-800 transition">Log in</a>
    </div>
  </div>
</nav>